<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>List of Receipts</title>
    </head>
    <body>
        <nav>
            <li>
                {% if user.is_authenticated %} Hello, {{ user.username }}
                <a href="{% url 'category_list' %}">List of category</a>
                <a href="{% url 'account_list' %}">List of account</a>
                <a href="{% url 'home' %}">List of receipt</a>
                <a href="{% url 'logout' %}">Logout</a>
                {% endif %}
            </li>
        </nav>
        {% block content%}
        {% endblock content%}
    </body>
</html>
